#map_container {
    	height: 100%;
    	border-width: 0px;
        border-color:black;
    }

#tabs {
	width: 100%;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  background-color: gold;
    float: left;
  height: 90%;
  width: 85%;
  border-width: 0px;
/* Optional: Makes the sample page fill the window. */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.top_nav {
    width:100%;
    display: flex;
    padding: 0px;
    border-bottom-color: black;
    border-width: 0px;  
}

ul p {
    padding:0px;
    border:0px;
    margin:0px;
}

.top_nav_list{
    display: inline-flex;
    padding-right:60px;
    padding-left:10px;
    font-size:15px;
}


h1 p {
    display:inline-block;
	height: 5px;
	text-align: center;
	border-width:0px;
	padding: 0px;
}
 
#legend {
	height: 90%;
	width: 15%;
	float: right;
}

h3 {
	background-color:#C3FF00;
}

ul.sub-menu {
  margin:0px;
  padding:0px;
  border:0px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
    height: 8%;
}

.sub-menu {
    height: 8%;
    background-color:#C3FF00;
    margin:0px;
    padding:0px;
    border:0px;
    width:100%;
}


.sub-menu li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#header {
    font-size: 1.6em;
    margin-top:1px;
    margin-bottom:0px;
    padding:0px;
    text-align: center;
    line-height: 2px;
    background-color: lightblue;
}

.content {
    width:85%;
}

.main_li {
    font-size: 1.5em;
}